{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" mt-5>
        <h2 class="mt-5">modifier un Genre</h2>
        {{ form_start(monFormulaire) }} {{ form_rest(monFormulaire) }} {{ form_end(monFormulaire) }}
    </div>
{% endblock %}