{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-5">
    <h2>ajouter un auteur</h2>
    <div class="mt-5">
        {{ form_start(monFormulaire) }} {{ form_rest(monFormulaire) }} {{ form_end(monFormulaire) }}
    </div>
    </div>
{% endblock %}